#Data Types and Structures Questions

###1.What are data structures, and why are they important?

- Data Structures are like a storage containers in which the data is store.
- It is important it will organize the data efficiently.
- In python there will be mainly 2 types of data structures predefine/build-in and user defefine.
- predefine data structures : list , Tuple , Set , Dictionary
- Userdefine data structures : stack ,queue

###2.Explain the difference between mutable and immutable data types with examples

- Mutable Data Types : Mutable Data types are data types which can update or change or modify after the creation.
- Mutble Data types are slow
- Example : List , Set , Dict
- Immutable Data Types : Immutable Data types are data types which can not update or change , modify after the creation
, they are fixed.
- Example : Tuple , Int , Float , string

###3.What are the main differences between lists and tuples in Python?

- List : List are Mutable while Tuples are Immutable.
- In List we can update , change or modify List after the creation.
- But in Tuple we can't update , change or modify Tuple after the creation.

###4.Describe how dictionaries store data?

- Dictionaries store data in "key" and "Value" pair.
```
Dict1 = {
  "Name" : "PW Skills",
  "Course"  : "Data Science"
}
```

###5.Why might you use a set instead of a list in Python

- Set will be automatically remove duplicates values.
- Unique values
- Because of that it will be after for searching as compare to list and Tuple
- set can also supports set operations like union , intersection , difference
```
set1 = {1,2,3,4,5,1,2}
print(set1) #o/p {1,2,3,4,5}
```

###6.What is a string in Python, and how is it different from a list.

- String in Python can store the sequence of characters : like numbers , letters which can writes or enclosed inside of quotes.
- string are immutable
- list in python can store the sequence
in items : like numbers , string , other list , set , list are heterogeneous.
- list can store the items in square brackets and items are seperated by coma.

###7.How do tuples ensure data integrity in Python?

- If Tuple is created then we can not update or change , modify after the creation , they are fixed.
-Tuples are immutable , because of that they can protect the data form accidenatal change.
- They are used to store fixed and constant data.

###8.What is a hash table, and how does it relate to dictionaries in Python

- Hash table is data structure that stores data in key - value pairs and it can use hash function to create a key or quickly find the location of a value.
- Dictionaries - It is build-in data structure which can also use key - value pairs and it is implemented using the hash table.

###9.Can lists contain different data types in Python

- Yes , list is heterogeneous so it can allows to store the diffrent types of data.
```
list = [1,2,1.78,"DK",True]
```

###10.Explain why strings are immutable in Python

- Strings are immutable , because they ensures or protect the data form accidenatal change, modification.
- string also ensure data integrity
- strings are immutable because of that they used as key in dictionaries

###11.What advantages do dictionaries offer over lists for certain tasks

- Dictionaries stores a data in key - value pairs , so beccause of that searching become very fast , (Big - o(1)) average case complexity in dictionaries , while in list (Big - o(n)) complexity.

###12. Describe a scenario where using a tuple would be preferable over a list

- Aadhar details cannot be modify , change once issued. Tuples ensure no accidental change.
- so in this we can use tuple to store the Aadhar information.

###13.How do sets handle duplicate values in Python?

- Set can only allows unique values.
- If user can give dupicates values at the type of printing or performing the opertions they can automatically delete or remove the duplicates and only print the unique values.

###14.How does the “in” keyword work differently for lists and dictionaries

- List : In list "in" is use to check the values is prresent in list or not
- dictionaries - In dictionaries "in" is use to check the key is present or not , if user try to check for value if not allowed , return false

###15.Can you modify the elements of a tuple? Explain why or why not

- No , we can't modify the elements of tuple , because tuple are immuatble

###16.What is a nested dictionary, and give an example of its use case3What is a nested dictionary, and give an example of its use case

- A nested dictionary is a dictionary inside another dictionary
- it is helps to organize a complex data
```
Sschool_db = {
    "Student_1": {
        "name": "Darshan",
        "dob": "29-12-2003",
        "gender": "Male",
        "city": "Pune"
    },
    "Student_2": {
        "name": "Amit",
        "dob": "07-05-2004",
        "gender": "Male",
        "city": "Mumbai"
    }
}
```

###17.Describe the time complexity of accessing elements in a dictionary

- The time complexity of accessing elements in a dictionary is (Big - o (1))

###18.In what situations are lists preferred over dictionaries

- List are preferred when the orderd is important because list can maintain the order by using indexing
- list can use when we only need a values not a keys
- it is also use when the duplicates are required.

###19.Why are dictionaries considered unordered, and how does that affect data retrieval

- A dictionary can stores data as key–value pairs.
- In dictionary items are not stored in a fixed order like in a list.
- We can't retrieve values by index (like my_list[0]).
- We have to use the key like (my_dict["Age"])

###20.Explain the difference between a list and a dictionary in terms of data retrieval.

- List = List are Access by using a index , complexit is (Big - o (n)) ,
list is heterogeneous , and orderd
example : fruits = ["Apple" ,"Banana","Kiwi"]
fruits[1] # "Banana"

- Dictionary = Dictionary are Access by using a key , complexit is (Big - o (1)) , it is unorderd .
example : fruits = {"Apple": 2 ,"Banana": 3 ,"Kiwi": 4}
fruits["Apple"] # 2

#Practical Questions

###1.P Write a code to create a string with your name and print it.

In [1]:
Name = "Darshan Kedare"
print(Name)

Darshan Kedare

###2.Write a code to find the length of the string "Hello World"

In [2]:
string1 = "Hello World"
print(len(string1))

11

###3.Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
String2 = "Python Programming"
print(String2[:3])

Pyt

###4.Write a code to convert the string "hello" to uppercase

In [6]:
string3 = "hello"
print(string3.upper())

HELLO

###5.Write a code to replace the word "apple" with "orange" in the string "I like apple"P

In [9]:
String4 = "I like apple"
print(String4)
print(String4.replace("apple","orange"))

I like apple
I like orange

###6.Write a code to create a list with numbers 1 to 5 and print it

In [11]:
list1 = []
for i in range(1,6):
  list1.append(i)
print(list1)

[1, 2, 3, 4, 5]

###7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [15]:
List2 = [1,2,3,4]
print(List2)
List2.append(10)
print(List2)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

###8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [16]:
List2 = [1,2,3,4,5]
print(List2)
List2.remove(3)
print(List2)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

###9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [18]:
List3 = ['a', 'b', 'c', 'd']
print(List3[1])

b

###10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
List5 = [10, 20, 30, 40, 50]
print(List5[::-1])

[50, 40, 30, 20, 10]

###11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [21]:
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

###12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [22]:
tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[1::])

('green', 'blue', 'yellow')

###13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [25]:
Tuple4 = (10, 20, 5, 15)
print(min(Tuple4))

5

###14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
Tuple5 = ('dog', 'cat', 'rabbit')
print(Tuple5.index("cat"))

1

###15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [28]:
Tuple6 = ("Apple","Mango","Kiwi","Banana")
if "Kiwi" in Tuple6:
  print("Kiwi is in Tuple6")
else:
  print("Kiwi is not in Tuple6")

Kiwi is in Tuple6

###16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
set1 = {'a','b','c'}
print(set1)

{'b', 'a', 'c'}

###17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [30]:
set2 = {1, 2, 3, 4, 5}
print("Initially the Set is: ",set2)
set2.clear()
print("After using clear function the set is: ",set2)

Initially the Set is:  {1, 2, 3, 4, 5}
After using clear function the set is:  set()

###18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [31]:
set3 = {1, 2, 3, 4}
print("Initially the Set is: ",set3)
set3.remove(4)
print("After using remove function the set is: ",set3)

Initially the Set is:  {1, 2, 3, 4}
After using remove function the set is:  {1, 2, 3}

###19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [33]:
set1 = {1, 2, 3}
print("Set 1 is:",set1)
set2 = {3, 4, 5}
print("Set 2 is:",set2)
set3 = set1.union(set2)
print("After Performing union operation set is: ",set3)

Set 1 is: {1, 2, 3}
Set 2 is: {3, 4, 5}
After Performing union operation set is:  {1, 2, 3, 4, 5}

###20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [34]:
set1 = {1, 2, 3}
print("Set 1 is:",set1)
set2 = {2,3,4}
print("Set 2 is:",set2)
set3 = set1.intersection(set2)
print("After Performing intersection operation set is: ",set3)

Set 1 is: {1, 2, 3}
Set 2 is: {2, 3, 4}
After Performing intersection operation set is:  {2, 3}

###21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [35]:
dict1 = {
    "name" : "Darshan",
    "age" : 21,
    "city" : "Pune"
}
print(dict1)

{'name': 'Darshan', 'age': 21, 'city': 'Pune'}

###22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [39]:
dict = {'name': 'John', 'age': 25}
print(dict)
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

###23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [40]:
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

###24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [42]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

###25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
dict2 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict2:
  print("City is in dict2 and it's name is:",dict2["city"])
else:
  print("City is not in dict2")

City is in dict2 and it's name is: Paris

###26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [46]:
list = [1,2,3,4]
tuple = (1,2,3,4)
dict = {'name': 'Alice', 'city': 'Paris'}
print("The list is :",list)
print("The tuple is :",tuple)
print("The dict is :",dict)

The list is : [1, 2, 3, 4]
The tuple is : (1, 2, 3, 4)
The dict is : {'name': 'Alice', 'city': 'Paris'}

###27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [47]:
list = [7,54,1,86]
list.sort()
print(list)

[1, 7, 54, 86]

###28. Write a code to create a list with strings and print the element at the third index.

In [48]:
list1 = ["Pw" , "Skills" , "Assignment" , "String" , "index"]
print(list1[3])

String

###29.Write a code to combine two dictionaries into one and print the result.

In [66]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
dict2 = {"email_id" : "pk123@gmail.com" , "course" : "Ai and Data Science"}
(dict1.update(dict2))
print(dict1,end=",")

{'name': 'Alice', 'city': 'Paris', 'email_id': 'pk123@gmail.com', 'course': 'Ai and Data Science'},

###30. Write a code to convert a list of strings into a set.

In [64]:
List1 = ["PW", "KKw" , "Skills" , "Assignment"]
print("This is List: ",List1)
set1 = set(List1)
print("This is set: ",set1)

This is List:  ['PW', 'KKw', 'Skills', 'Assignment']
This is set:  {'Skills', 'KKw', 'PW', 'Assignment'}